
<div ng-class="{'head on_bg': bg==='true', 'head on_border':border==='true', 'head on_bg on_border': bg==='true'&&border==='true', 'head': bg!=='true'&&border!=='true'}">
	<div ng-show="back ==='false'" class="login_info clearfix">
		<div class="artist_pic"><img src="/img/head/defulate.jpg" alt=""></div>
		<p class="artist_name">爱音乐的小儿股</p>
	</div>
	<div ng-show="back !=='false'" class="back" ng-click="goback()"></div>
	<div class="head_title" ng-bind="title"></div>
	<div ng-show="bar ==='true'" class="play_bar"></div>
</div>